.comics_list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
  position: relative;
  width: 100%;
  max-width: 1240px;

  .message {
    font-weight: 400;
    position: absolute;
    top: -30px;
    width: 100%;

    .filter {
      font-weight: 700;
    }
  }
}
.comics_list_empty {
  display: grid;
  align-items: center;
  flex-grow: 1;
}

.message {
  color: #777;
  font-size: 1.3em;
  text-align: center;

  .filter {
    font-style: italic;
  }
}

@media(min-width: 600px) {
  .comics_list {
    grid-template-columns: repeat(2,1fr);
  }
}

@media(min-width: 820px) {
  .comics_list {
    grid-template-columns: repeat(3,1fr);
  }
}

@media(min-width: 1060px) {
  .comics_list {
    grid-template-columns: repeat(4,1fr);
  }
}

@media(min-width: 1280px) {
  .comics_list {
    grid-template-columns: repeat(5,1fr);
  }
}
